<div>
<div class="sideFilter">Search By Categories</div>
<div>
<ul class="list-group list-group-vertical">
  <li class="list-group-item">Menu</li>
  <li class="list-group-item">Get Help</li>
  <li class="list-group-item">Terms and Conditions</li>
  <li class="list-group-item">About Cukdoo</li>
</ul>
</div>
<div class="sideFilter">Search By Company</div>
<div>
<ul class="list-group list-group-vertical">
  <li class="list-group-item">Hitec</li>
  <li class="list-group-item">Chick Brown</li>
  <li class="list-group-item">Techno Chicks</li>
  <li class="list-group-item">World Heritage</li>
</ul>
</div>
</div>
