.sideFilter{
    font-size: large;
    font-style: bold;
    font-weight: 800;
    font-family: Gill Sans !important;
    color:red;
    margin-left: 5px;
}
.list-group-item{
    border: none !important;
}